.main
  .header
    .headers
      .headers__group
        ググググループ
      .headers__member
        taka
    .header__edit
      Edit

  .chat
    .chat__user
      .chat__user__name
        taka
      .chat__user__time
        2019/12/20
    
    .chat__message
      .chat__message__content
        おなかすいた
      .chat__message__image
    
  .footer
    .footer__message
      .footer__message__items
        -# = f.label :image, class: 'footer__message__items__icon' do
        -#   = icon('fas', 'image', class: 'footer__massage__items__icon')
        -#   = f.file_field :image, class: 'footer__message__items__input'
        -# = f.submit 'Send', class: 'footer__message__send'
