* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: cursive;
}

.back{
  position:fixed;
  left:300px;
  height:100vh;
  width:calc(100vw - 300px);
  background-image:url("Riomaggiore-Liguria-Italy-The-beautyful-village-of-Riomaggiore-as-you-can-see-it-from-the-see-vith-colorful-houses-reflecting-themselves-in-the-water-Blue-sky.jpg");
}
.sidebar{
  height:100vh;
  width:300px;
  position: fixed;

  .user{
    height: 100px;
    background-color: menu;
    padding: 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 3px #228B22;

    &__name{
      font-size: 16px;
      border-bottom: solid 3px orange;
    }
    &__edit{
      font-size:16px;      

      &__icon1{
        color:black;
      }
      
      &__icon2{
        color:black;
      }
    }
  }

  .group{
    padding: 0 12.5px 0;
    height: calc(100vh - 100px);
    background-color: #A52A2A;
    overflow-y: scroll;

    &__items{
      height: 125px;
      width: 260px;
      background-color: menu;
      border-radius: 0.5em;

      &__name{
        font-size: 15px;
        margin-top:20px;
        padding:15px 5px 0;
        color:black;
        background: -webkit-linear-gradient(to right,orange, transparent);
        background: linear-gradient(to right, orange, transparent);
      }
      &__message{
        padding-left:5px;
        font-size: 12px;
        padding-top: 10px;
        color:black;
        border-bottom: solid 3px #228B22;
      }
      &__user{
        padding-left:5px;
        font-size: 12px;
        color:black;
      }
      &__time{
        padding-left:5px;
        font-size: 10px;
        padding-bottom:40px;
        color:black;
      }
    }
  }
}

.main{
  height: 100vh;
  width: calc(100vw - 300px);
  position: fixed;
  left: 300px;

  .header{
    height: 100px;
    background-color: #FFA500;
    border: solid 3px #4169E1;
    
    .headers{
      padding:20px 0 0 40px;
      position: relative;

      &__group{
        font-size: 20px;
        background: -webkit-linear-gradient(to right, menu, transparent);
        background: linear-gradient(to right, menu, transparent);
      }
      &__member{
        font-size: 12px;
        background: -webkit-linear-gradient(to right, #FFCC66, transparent);
        background: linear-gradient(to right, #FFCC66, transparent);
      }
    }

    &__edit{
      height:40px;
      font-size:16px;
      color:menu;
      background-color:#228B22;
      line-height: 40px;
      padding:0 20px;
      border:solid 1px lightgray;
      position: absolute;
      right: 40px;
      top:28px;
      border-radius: 0.5em;
    }
  }

  .chat{
    height: calc(100vh - 190px);
    background-image:url("20_napori_1.jpg");
    overflow-y: scroll;
    padding:0 40px 0;

    &__user{
      padding:0 5px 0;
      margin-top:35px;
      display: flex;
      border-radius: 0.5em;
      background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
      background: linear-gradient(to right, rgb(230, 90, 90), transparent);
      
      &__name{
        font-size: 16px;
      }
      &__time{
        padding:3px 0 0 10px;
        font-size: 12px;
      }
    }
    &__message{
      padding:12px 5px 0;
      border-radius: 0.5em;
      background-color:menu;

      &__content{
        height: 55px;
        font-size: 14px;
        padding-bottom:40px;
      }
    }
  }
  .footer{
    height: 90px;
    background-color: #3CB371;
    border: solid 3px #FF6600;
    width: calc(100vw - 300px);
    padding:20px 40px;
    position: fixed;
    bottom: 0;

    &__message{
      height: 50px;
      width: calc(100vw - 500px);
      background-color:#fafafa;
      position: relative;

      &__items{
        position: absolute;
        top: 35px;
        right:200px;

        &__icon{
        }
        &__input{
          display: none;
          padding-right: 20px;
        }
      }
    }
    &__send{
      height:50px;
      width:100px;
      line-height: 50px;
      text-align: center;
      background-color: #38AEF0;
      color:white;
      position: absolute;
      right: 40px;
      top:20px;
    }
  }
}

@media screen and (max-width: 896px) {
  .back{
    position:fixed;
    left:300px;
    height:100vh;
    width:calc(100vw - 300px);
    background-image:url("Riomaggiore-Liguria-Italy-The-beautyful-village-of-Riomaggiore-as-you-can-see-it-from-the-see-vith-colorful-houses-reflecting-themselves-in-the-water-Blue-sky.jpg");
  }
  .sidebar{
    height:100vh;
    width:250px;
    position: fixed;
  
    .user{
      height: 80px;
      background-color: menu;
      padding: 0 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: solid 3px #228B22;
  
      &__name{
        font-size: 16px;
        border-bottom: solid 3px orange;
      }
      &__edit{
        font-size:16px;      
  
        &__icon1{
          color:black;
        }
        
        &__icon2{
          color:black;
        }
      }
    }
  
    .group{
      padding: 0 12.5px 0;
      height: calc(100vh - 80px);
      background-color: #A52A2A;
      overflow-y: scroll;
  
      &__items{
        height: 125px;
        width: 225px;
        background-color: menu;
        border-radius: 0.5em;
  
        &__name{
          font-size: 15px;
          margin-top:20px;
          padding:15px 5px 0;
          color:black;
          background: -webkit-linear-gradient(to right,orange, transparent);
          background: linear-gradient(to right, orange, transparent);
        }
        &__message{
          padding-left:5px;
          font-size: 12px;
          padding-top: 10px;
          color:black;
          border-bottom: solid 3px #228B22;
        }
        &__user{
          padding-left:5px;
          font-size: 12px;
          color:black;
        }
        &__time{
          padding-left:5px;
          font-size: 10px;
          padding-bottom:40px;
          color:black;
        }
      }
    }
  }
  
  .main{
    height: 100vh;
    width: calc(100vw - 250px);
    position: fixed;
    left: 250px;
  
    .header{
      height: 80px;
      background-color: #FFA500;
      border: solid 3px #4169E1;
      
      .headers{
        padding:12px 0 0 20px;
        position: relative;
  
        &__group{
          font-size: 20px;
          background: -webkit-linear-gradient(to right, menu, transparent);
          background: linear-gradient(to right, menu, transparent);
        }
        &__member{
          font-size: 12px;
          background: -webkit-linear-gradient(to right, #FFCC66, transparent);
          background: linear-gradient(to right, #FFCC66, transparent);
        }
      }
  
      &__edit{
        height:40px;
        font-size:16px;
        color:menu;
        background-color:#228B22;
        line-height: 40px;
        padding:0 20px;
        border:solid 1px lightgray;
        position: absolute;
        right: 20px;
        top:18px;
        border-radius: 0.5em;
      }
    }
  
    .chat{
      height: calc(100vh - 150px);
      background-image:url("20_napori_1.jpg");
      overflow-y: scroll;
      padding:0 20px 0;
  
      &__user{
        padding:0 5px 0;
        margin-top:15px;
        display: flex;
        border-radius: 0.5em;
        background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
        background: linear-gradient(to right, rgb(230, 90, 90), transparent);
        
        &__name{
          font-size: 16px;
        }
        &__time{
          padding:3px 0 0 10px;
          font-size: 12px;
        }
      }
      &__message{
        padding:12px 5px 0;
        border-radius: 0.5em;
        background-color:menu;
  
        &__content{
          height: 30px;
          font-size: 14px;
          padding-bottom:40px;
        }
      }
    }
    .footer{
      height: 70px;
      background-color: #3CB371;
      border: solid 3px #FF6600;
      width: calc(100vw - 250px);
      padding:7px 20px;
      position: fixed;
      bottom: 0;
  
      &__message{
        height: 50px;
        width: calc(100vw - 400px);
        background-color:#fafafa;
        position: relative;
  
        &__items{
          position: absolute;
          top: 22.5px;
          right:150px;
  
          &__icon{
          }
          &__input{
            display: none;
            padding-right: 20px;
          }
        }
      }
      &__send{
        height:50px;
        width:80px;
        line-height: 50px;
        text-align: center;
        background-color: #38AEF0;
        color:white;
        position: absolute;
        right: 20px;
        top:7px;
      }
    }
  }


@media screen and (max-width: 480px) {
  .back{
    position:fixed;
    left:135px;
    height:100vh;
    width:calc(100vw - 135px);
    background-image:url("Riomaggiore-Liguria-Italy-The-beautyful-village-of-Riomaggiore-as-you-can-see-it-from-the-see-vith-colorful-houses-reflecting-themselves-in-the-water-Blue-sky.jpg");
  }
  .sidebar{
    height:100vh;
    width:135px;
    position: fixed;
  
    .user{
      height: 100px;
      background-color: menu;
      padding-left:3px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: solid 3px #228B22;
  
      &__name{
        font-size: 13px;
        border-bottom: solid 3px orange;
      }
      &__edit{
        font-size:15px;      
  
        &__icon1{
          color:black;
        }
        
        &__icon2{
          color:black;
        }
      }
    }
  
    .group{
      padding: 0 5px 0;
      height: calc(100vh - 100px);
      background-color: #A52A2A;
      overflow-y: scroll;
  
      &__items{
        height: 125px;
        width: 260px;
        background-color: menu;
        border-radius: 0.5em;
  
        &__name{
          font-size: 15px;
          margin-top:20px;
          padding:15px 5px 0;
          color:black;
          background: -webkit-linear-gradient(to right,orange, transparent);
          background: linear-gradient(to right, orange, transparent);
        }
        &__message{
          padding-left:5px;
          font-size: 12px;
          padding-top: 10px;
          color:black;
          border-bottom: solid 3px #228B22;
        }
        &__user{
          padding-left:5px;
          font-size: 12px;
          color:black;
        }
        &__time{
          padding-left:5px;
          font-size: 10px;
          padding-bottom:40px;
          color:black;
        }
      }
    }
  }
  
  .main{
    height: 100vh;
    width: calc(100vw - 135px);
    position: fixed;
    left: 135px;
  
    .header{
      height: 100px;
      background-color: #FFA500;
      border: solid 3px #4169E1;
      
      .headers{
        padding:20px 0 0 5px;
        position: relative;
  
        &__group{
          font-size: 20px;
          background: -webkit-linear-gradient(to right, menu, transparent);
          background: linear-gradient(to right, menu, transparent);
        }
        &__member{
          font-size: 12px;
          background: -webkit-linear-gradient(to right, #FFCC66, transparent);
          background: linear-gradient(to right, #FFCC66, transparent);
        }
      }
  
      &__edit{
        height:40px;
        font-size:16px;
        color:menu;
        background-color:#228B22;
        line-height: 40px;
        padding:0 10px;
        border:solid 1px lightgray;
        position: absolute;
        right: 5px;
        top:28px;
        border-radius: 0.5em;
      }
    }
  
    .chat{
      height: calc(100vh - 190px);
      background-image:url("20_napori_1.jpg");
      overflow-y: scroll;
      padding:0 5px 0;
  
      &__user{
        padding:0 5px 0;
        margin-top:15px;
        display: flex;
        border-radius: 0.5em;
        background-color:rgb(230, 90, 90);
        
        &__name{
          font-size: 14px;
        }
        &__time{
          padding:3px 0 0 10px;
          font-size: 10px;
        }
      }
      &__message{
        padding:12px 5px 0;
        border-radius: 0.5em;
        background-color:menu;
  
        &__content{
          height: 30px;
          font-size: 14px;
          padding-bottom:20px;
        }
      }
    }
    .footer{
      height: 90px;
      background-color: #3CB371;
      border: solid 3px #FF6600;
      width: calc(100vw - 135px);
      padding:20px 5px;
      position: fixed;
      bottom: 0;
  
      &__message{
        height: 50px;
        width: calc(100vw - 200px);
        background-color:#fafafa;
        position: relative;
  
        &__items{
          position: absolute;
          top: 35px;
          right:80px;
  
          &__icon{
          }
          &__input{
            display: none;
            padding-right: 10px;
          }
        }
      }
      &__send{
        height:50px;
        width:65px;
        line-height: 50px;
        text-align: center;
        background-color: #38AEF0;
        color:white;
        position: absolute;
        right: 5px;
        top:20px;
        }
      }
    }
  }
}
