* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: cursive;
}

.back{
  position:fixed;
  left:300px;
  height:100vh;
  width:calc(100vw - 300px);
  background-image:image-url("d3a442df4ee361bfd39f65457ec858f8aa553f44.jpg");
  background-size:cover;
}
.sidebar{
  height:100vh;
  width:300px;
  position: fixed;

  .user{
    color:menu;
    height: 100px;
    background-color: menu;
    padding: 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image:image-url("index_cof.png");
    background-position:right bottom;
    // border: solid 3px #228B22;

    &__name{
      font-size: 25px;
      // border-bottom: solid 3px orange;
    }
    &__edit{
      font-size:25px;      

      &__icon1{
        color:menu;
      }
      
      &__icon2{
        color:menu;
      }
    }
  }

  .group{
    padding: 0 12.5px 0;
    height: calc(100vh - 100px);
    background-color: gray;
    overflow-y: scroll;

    &__items{
      height: 125px;
      width: 260px;
      background-color: menu;
      border-radius: 0.5em;

      &__name{
        font-size: 15px;
        margin-top:20px;
        padding:15px 5px 0;
        color:black;
        background: -webkit-linear-gradient(to right,#99CCCC, transparent);
        background: linear-gradient(to right, #99CCCC, transparent);
      }
      &__message{
        padding-left:5px;
        font-size: 12px;
        padding-top: 10px;
        color:black;
        // border-bottom: solid 3px #228B22;
      }
      &__user{
        padding-left:5px;
        font-size: 12px;
        color:black;
      }
      &__time{
        padding-left:5px;
        font-size: 10px;
        padding-bottom:40px;
        color:black;
      }
    }
  }
}

.main{
  height: 100vh;
  width: calc(100vw - 300px);
  position: fixed;
  left: 300px;

  .header{
    height: 100px;
    background-color: #CC9999;
    // border: solid 3px #4169E1;
    
    .headers{
      padding:20px 155px 0 40px;
      position: relative;

      &__group{
        font-size: 20px;
        // background: -webkit-linear-gradient(to right,#99CCCC, transparent);
        background: linear-gradient(to right, #99CCCC, transparent);
        background-color:menu;
        // background: -webkit-linear-gradient(to right, menu, transparent);
        // background: linear-gradient(to right, menu, transparent);
      }
      &__member{
        font-size: 12px;
        background-color:menu;
        // background: -webkit-linear-gradient(to right, #FFCC66, transparent);
        // background: linear-gradient(to right, #FFCC66, transparent);
      }
    }

    &__edit{
      height:50px;
      font-size:16px;
      color:menu;
      background-color:#99CCCC;
      line-height: 50px;
      padding:0 30px;
      border:solid 1px lightgray;
      position: absolute;
      right: 40px;
      top:20px;
      // border-radius: 0.5em;
    }
  }

  .chat{
    height: calc(100vh - 190px);
    background-size:cover;
    background-image:image-url("2626559136-coffee-and-sweets-photography-hd-wallpaper-2560x1440-8666-q3R-2560x1440-MM-100.jpg");
    overflow-y: scroll;
    padding:0 40px 0;

    &__user{
      padding:0 5px 0;
      margin-top:35px;
      display: flex;
      border-radius: 0.5em;
      background-color:#99CCCC;
      // background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
      // background: linear-gradient(to right, rgb(230, 90, 90), transparent);
      
      &__name{
        font-size: 16px;
      }
      &__time{
        width: 100%;
        padding:3px 0 0 10px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        &__delete{
          padding: 5px 15px;
          background-color: gray;
          border-radius: 0.5em;
          a{
            color: menu;
          }
        }
      }

    }
    &__message{
      padding:12px 5px 0;
      border-radius: 0.5em;
      background-color:menu;
      img{
        padding-left: 25%;
      }

      &__content{
        height: 55px;
        font-size: 14px;
        padding-bottom:40px;
      }
    }
  }
  .footer{
    height: 90px;
    background-color: #99CCCC;
    // border: solid 3px #FF6600;
    width: calc(100vw - 300px);
    padding:20px 40px;
    position: fixed;
    bottom: 0;

    &__message{
      height: 50px;
      width: calc(100vw - 500px);
      background-color:#fafafa;
      position: relative;

      &__items{
        position: absolute;
        top: 35px;
        right:200px;

        &__icon{
        }
        &__input{
          display: none;
          padding-right: 20px;
        }
      }
    }
    &__send{
      height:50px;
      width:100px;
      line-height: 50px;
      text-align: center;
      background-color: #CC9999;
      color:white;
      position: absolute;
      right: 40px;
      top:20px;
    }
  }
}

@media screen and (max-width: 896px) {
  .back{
    left:250px;
    height:100vh;
    width:calc(100vw - 250px);
  }
  .sidebar{
    height:100vh;
    width:250px;
  
    .user{
      height: 80px;
      padding: 0 20px 0;
  
      &__name{
        font-size: 25px;
      }
      &__edit{
        font-size:25px;      
          }
        }
  
    .group{
      padding: 0 12.5px 0;
      height: calc(100vh - 80px);
  
      &__items{
        height: 125px;
        width: 225px;
  
        &__name{
          font-size: 15px;
          margin-top:20px;
          padding:15px 5px 0;

        }
        &__message{
          padding-left:5px;
          font-size: 12px;
          padding-top: 10px;
        }
        &__user{
          padding-left:5px;
          font-size: 12px;
        }
        &__time{
          padding-left:5px;
          font-size: 10px;
          padding-bottom:40px;
        }
      }
    }
  }
  
  .main{
    height: 100vh;
    width: calc(100vw - 250px);
    left: 250px;
  
    .header{
      height: 80px;
      
      .headers{
        padding:12px 0 0 20px;
  
        &__group{
          font-size: 20px;
        }
        &__member{
          font-size: 12px;
        }
      }
  
      &__edit{
        height:40px;
        font-size:16px;
        line-height: 40px;
        padding:0 20px;
        position: absolute;
        right: 20px;
        top:18px;
        border-radius: 0.5em;
      }
    }
  
    .chat{
      height: calc(100vh - 150px);
      overflow-y: scroll;
      padding:0 20px 0;
  
      &__user{
        padding:0 5px 0;
        margin-top:15px;
        
        &__name{
          font-size: 16px;
        }
        &__time{
          padding:3px 0 0 10px;
          font-size: 12px;
        }
      }
      &__message{
        padding:12px 5px 0;
  
        &__content{
          height: 30px;
          font-size: 14px;
          padding-bottom:40px;
        }
      }
    }
    .footer{
      height: 70px;
      width: calc(100vw - 250px);
      padding:7px 20px;
      position: fixed;
      bottom: 0;
  
      &__message{
        height: 50px;
        width: calc(100vw - 400px);
        position: relative;
  
        &__items{
          position: absolute;
          top: 22.5px;
          right:150px;
  
          &__icon{
          }
          &__input{
            display: none;
            padding-right: 20px;
          }
        }
      }
      &__send{
        height:50px;
        width:80px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        right: 20px;
        top:7px;
      }
    }
  }


@media screen and (max-width: 480px) {
  .back{
    position:fixed;
    left:135px;
    height:100vh;
    width:calc(100vw - 135px);
  }
  .sidebar{
    height:100vh;
    width:135px;
    position: fixed;
  
    .user{
      height: 100px;
      padding-left:3px;
      display: flex;
  
      &__name{
        font-size: 20px;
      }
      &__edit{
        font-size:15px;      
      }
    }
  
    .group{
      padding: 0 5px 0;
      height: calc(100vh - 100px);
      overflow-y: scroll;
  
      &__items{
        height: 125px;
        width: 260px;
  
        &__name{
          font-size: 15px;
          margin-top:20px;
          padding:15px 5px 0;
        }
        &__message{
          padding-left:5px;
          font-size: 12px;
          padding-top: 10px;
        }
        &__user{
          padding-left:5px;
          font-size: 12px;
        }
        &__time{
          padding-left:5px;
          font-size: 10px;
          padding-bottom:40px;
        }
      }
    }
  }
  
  .main{
    height: 100vh;
    width: calc(100vw - 135px);
    position: fixed;
    left: 135px;
  
    .header{
      height: 100px;
      
      .headers{
        padding:20px 0 0 5px;
        position: relative;
  
        &__group{
          font-size: 20px;
        }
        &__member{
          font-size: 12px;
        }
      }
  
      &__edit{
        height:40px;
        font-size:16px;
        line-height: 40px;
        padding:0 10px;
        position: absolute;
        right: 5px;
        top:28px;
      }
    }
  
    .chat{
      height: calc(100vh - 190px);
      overflow-y: scroll;
      padding:0 5px 0;
  
      &__user{
        padding:0 5px 0;
        margin-top:15px;
        display: flex;
        
        &__name{
          font-size: 14px;
        }
        &__time{
          padding:3px 0 0 10px;
          font-size: 10px;
        }
      }
      &__message{
        padding:12px 5px 0;
  
        &__content{
          height: 30px;
          font-size: 14px;
          padding-bottom:20px;
        }
      }
    }
    .footer{
      height: 90px;
      width: calc(100vw - 135px);
      padding:20px 5px;
      position: fixed;
      bottom: 0;
  
      &__message{
        height: 50px;
        width: calc(100vw - 200px);
        position: relative;
  
        &__items{
          position: absolute;
          top: 35px;
          right:80px;
  
          &__icon{
          }
          &__input{
            display: none;
            padding-right: 10px;
          }
        }
      }
      &__send{
        height:50px;
        width:65px;
        line-height: 50px;
        position: absolute;
        right: 5px;
        top:20px;
        }
      }
    }
  }
}
