* {
  box-sizing: border-box;
  text-decoration: none;
}

.sidebar{
  height:100vh;
  width:300px;
  position: fixed;

  .user{
    height: 100px;
    background-color: red;
    padding: 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__name{
      font-size: 16px;

    }
    &__edit{
      font-size:16px;      

      &__icon1{
        color:#ffffff;
      }
      
      &__icon2{
        color:#ffffff;
      }
    }
  }

  .group{
    padding: 0 20px 0;
    height: calc(100vh - 100px);
    background-color: blue;
    overflow-y: scroll;
    padding: 0 20px 0;

    &__items{
      height: 100px;
      width: 260px;
      background-color: white;

      &__name{
        font-size: 15px;
        padding-top: 20px;
        background-color: orange;
      }
      &__message{
        font-size: 12px;
        padding-top: 25px;
        background-color: purple;;
      }
      &__time{
        font-size: 10px;
        padding-bottom:40px;
        background-color: gray;
      }
    }
  }
}

.main{
  height: 100vh;
  width: calc(100vw - 300px);
  position: fixed;
  left: 300px;

  .header{
    height: 100px;
    background-color: pink;
    
    .headers{
      padding:35px 0 0 40px;
      position: relative;

      &__group{
        font-size: 20px;
      }
      &__member{
        font-size: 12px;
      }
    }

    &__edit{
      height:40px;
      font-size:16px;
      color:#38AEF0;
      line-height: 40px;
      padding:0 20px;
      border:solid 1px #38AEF0;
      position: absolute;
      right: 40px;
      top:28px;
    }
  }

  .chat{
    height: calc(100vh - 190px);
    width: calc(100vw -300px);
    background-color: green;
    overflow-y: scroll;
    padding:0 40px 0;

    &__user{
      padding-top:35px;
      display: flex;
      
      &__name{
        font-size: 16px;
      }
      &__time{
        padding:3px 0 0 10px;
        font-size: 12px;
      }
    }
    &__message{
      padding-top: 12px;

      &__content{
        font-size: 14px;
        padding-bottom:40px;
      }
    }
  }
  .footer{
    height: 90px;
    background-color: yellow;
    width: calc(100vw - 300px);
    padding:20px 40px;
    position: fixed;
    bottom: 0;

    &__message{
      width: calc(100vw - 500px);
      background-color:#fafafa;
      display: flex;
      justify-content: space-between;
      position: relative;

      &__items{
        position: absolute;
        top: 15px;
        right: 15px;
        &__icon{

        }
        &__input{
          display: none;
          padding-right: 20px;
        }
      }
    }
    &__send{
      height:50px;
      width:100px;
      line-height: 50px;
      text-align: center;
      background-color: #38AEF0;
      color:white;
      position: absolute;
      right: 40px;
      top:20px;
    }
  }
}